[submodule "akg"]
	path = akg
	url = https://gitee.com/mindspore/akg.git
[submodule "graphengine"]
	path = graphengine
	url = https://gitee.com/mindspore/graphengine.git
[submodule "tests/models"]
	path = tests/models
	url = https://gitee.com/mindspore/models.git
