numpy >= 1.17.0
protobuf >= 3.13.0
asttokens >= 2.0.4
pillow >= 6.2.0
scipy >= 1.5.4
decorator >= 4.4.0
matplotlib >= 3.1.3         # for ut test
opencv-python >= 4.1.2.30   # for ut test
scikit-learn >= 0.14        # for st test
pandas >= 1.0.2             # for ut test
packaging >= 20.0
pycocotools >= 2.0.2        # for st test
tables >= 3.6.1             # for st test
easydict >= 1.9             # for st test
onnxruntime >= 1.6.0        # for st test
psutil >= 5.7.0
astunparse >= 1.6.3
