# Builtin Configurations(DO NOT CHANGE THESE CONFIGURATIONS unlesee you know exactly what you are doing)
enable_modelarts: False
# url for modelarts
data_url: ""
train_url: ""
checkpoint_url: ""
# path for local
data_path: "/cache/data"
output_path: "/cache/train"
load_path: "/cache/checkpoint_path"
device_target: "Ascend"
enable_profiling: False
need_modelarts_dataset_unzip: True
modelarts_dataset_unzip_name: "FSNS"

# ======================================================================================
# common options
run_distribute: False

# ======================================================================================
# Training options

# create train dataset options
train_annotation_file: ""
data_root_train: ""
mindrecord_dir: ""

# training options
dataset_name: "fsns"
batch_size: 8
epoch_size: 1
pretrain_epoch_size: 0
save_checkpoint: True
save_checkpoint_steps: 2500
save_checkpoint_epochs: 1
keep_checkpoint_max: 20
save_checkpoint_path: "./"
warmup_epochs: 5
lr_decay_mode: "poly"
lr: 5e-4
work_nums: 4
im_size_w: 512
im_size_h: 64
pos_samples_size: 100
augment_severity: 0.1
augment_prob: 0.3
train_dataset_path: ""
pre_trained: ""
is_save_on_master: 1

# ======================================================================================
# Eval options

# create eval dataset options
test_annotation_file: ""
data_root_test: ""

# eval options
eval_dataset_path: ""
checkpoint_path: ""

# export options
ckpt_file: ""
file_name: "cnn"
file_format: "MINDIR"

#310 inferenct options
result_path: "./preprocess_Result/"

---
# Help description for each configuration
enable_modelarts: "Whether training on modelarts default: False"
data_url: "Url for modelarts"
train_url: "Url for modelarts"
data_path: "The location of input data"
output_pah: "The location of the output file"
device_target: "device id of GPU or Ascend. (Default: None)"
enable_profiling: "Whether enable profiling while training default: False"
