[common_quant_param]
quant_type=FULL_QUANT
bit_num=8
skip_quant_node=ConvTranspose_483,ConvTranspose_495,ConvTranspose_491,ConvTranspose_515,ConvTranspose_511,ConvTranspose_507,ConvTranspose_lane_seg_pred

[data_preprocess_param]
calibrate_path=input:./quantTraining/0916_ct_ddd_culane_dlav0_withSigmoid_noMerge
calibrate_size=1
input_type=BIN

[full_quant_param]
activation_quant_method=MAX_MIN
bias_correction=true
