[common_quant_param]
quant_type=FULL_QUANT
bit_num=8
debug_info_save_path=.
skip_quant_node=AVERAGE_POOL_2D-37,RESHAPE-38,FULLY_CONNECTED-39

[data_preprocess_param]
calibrate_path=input_1:./quantTraining/resnet
calibrate_size=1
input_type=BIN

[full_quant_param]
activation_quant_method=KL
bias_correction=true
