[common_quant_param]
quant_type=FULL_QUANT
bit_num=8
skip_quant_node=ConvTranspose_134,ConvTranspose_146,ConvTranspose_142,ConvTranspose_166,ConvTranspose_162,ConvTranspose_158,ConvTranspose_2242

[data_preprocess_param]
calibrate_path=input:/home/workspace/mindspore_dataset/mslite/quantTraining/0916_ct_ddd_culane_dlav0_withSigmoid_noMerge
calibrate_size=1
input_type=BIN

[full_quant_param]
activation_quant_method=MAX_MIN
bias_correction=true
