[common_quant_param]
quant_type=FULL_QUANT
bit_num=8

[data_preprocess_param]
calibrate_path=input_0:/home/workspace/mindspore_dataset/mslite/quantTraining/focusocr_cn_recog_calibration_data
calibrate_size=1
input_type=BIN

[full_quant_param]
activation_quant_method=MAX_MIN
bias_correction=true
target_device=DSP
