[common_quant_param]
quant_type=FULL_QUANT
bit_num=8
skip_quant_node=GlobalAveragePool_1006

[data_preprocess_param]
calibrate_path=image:/home/workspace/mindspore_dataset/mslite/quantTraining/v3plus512_512_op11
calibrate_size=1
input_type=BIN

[full_quant_param]
activation_quant_method=MAX_MIN
bias_correction=true
