html {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

* {
    box-sizing: inherit;
}

*:before, *:after {
    box-sizing: inherit;
}

body {
    min-height: 100vh;
    font-family: 'Mukta Malar', Arial;
    line-height: 22px;
    font-size: 16px;
    color: #ADAFB6;
    display: flex;
    justify-content: center;
    transition: background .3s ease;
    background: var(--bg);
}

body.light {
    --bg: #F5F9FF;
}
