[common_quant_param]
quant_type=FULL_QUANT
bit_num=8
min_quant_weight_size=0
min_quant_weight_channel=16

[data_preprocess_param]
calibrate_path=blob1:/home/workspace/mindspore_dataset/mslite/quantTraining/ml_face_mnet_calibration_data
calibrate_size=4
input_type=BIN

[full_quant_param]
activation_quant_method=MAX_MIN
bias_correction=true
