[common_quant_param]
quant_type=FULL_QUANT
bit_num=8
min_quant_weight_size=0
min_quant_weight_channel=16

[data_preprocess_param]
calibrate_path=blob1:/home/workspace/mindspore_dataset/mslite/quantTraining/ml_face_mnet_image
calibrate_size=5
input_type=IMAGE
# The output format of the preprocessed image
# Supports RGB or GRAY or BGR
image_to_format=RGB
# Image normalization
# dst = (src - mean) / std
normalize_mean=[104, 117, 123]
normalize_std=[1, 1, 1]
# Image resize
resize_width=640
resize_height=640
# Resize method supports LINEAR or NEAREST or CUBIC
resize_method=LINEAR

[full_quant_param]
activation_quant_method=MAX_MIN
bias_correction=true
