[common_quant_param]
quant_type=FULL_QUANT
bit_num=8
min_quant_weight_size=0
min_quant_weight_channel=16

[data_preprocess_param]
calibrate_path=data:/home/workspace/mindspore_dataset/mslite/quantTraining/vhd_yolo_calibration_data
calibrate_size=10
input_type=BIN

[full_quant_param]
activation_quant_method=KL
bias_correction=false
target_device=NVGPU
