<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mindspore.dance">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">
        <activity
            android:name=".view.DanceActivity"
            android:label="@string/dance"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.MyApplication.NoActionBar" />
    </application>
</manifest>